@page "/AllUserPackagesOverview"
@using gateway.DTO
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Client.Interfaces
@attribute [Authorize]
@inject NavigationManager NavManager
@inject IPackageService PackageService;
@inject ProtectedSessionStorage protectedSessionStorage

<PageTitle>My profile</PageTitle>

<section class="container mt-4">
    <div class="d-flex justify-content-center">
        <h1 class="text-center display-3 text-uppercase">
            <b>Hello @name</b>
        </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body mt-2">
                    <p>
                        <b>Email:</b> @_email
                    </p>
                    <p>
                        <b>Phone number:</b> @_phoneNumber
                    </p>
                    <button class="btn btn-primary" type="submit" @onclick="EditInformation">Edit personal information</button>
                </div>
            </div>
        </div>
    </div>
</section>
@if (packages == null)
{
    <span>Loading..</span>
}

else
{
    <!-- Packages Overview Section -->
    <section class="container mt-4">
        <h2 class="mb-4">Packages that you have sent: </h2>
        <div class="row">
            @if (!packages.SendPackages.Any())
            {
                <span>You have not sent any packages yet</span>
            }
            else
            {
                foreach (var package in packages.SendPackages)
                {
                    <div class="col-md-4 mb-4 ">
                        <div class="window">
                            <img src="package.svg" class="card-img" height="150" alt="forest">
                            <div class="card-body">
                                <h5 class="card-title text-center">@package.TrackingNumber</h5>
                                <hr>
                                <p class="text-center">Status: @package.Status</p>
                                <div class="d-grid gap-2">
                                    <button @onclick="() => GoToDetailPage(package.TrackingNumber)" class="btn btn-outline-dark btn-block mt-2">See more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </section>
    <section class="container mt-4">
        <h2 class="mb-4">Packages that you are about to receive: </h2>
        <div class="row">
            @if (!packages.SendPackages.Any())
            {
                <span>There are no packages that you are about to receive</span>
            }
            else
            {
                foreach (var package in packages.ReceivedPackages)
                {
                    <div class="col-md-4 mb-4 ">
                        <div class="window">
                            <img src="package.svg" class="card-img" height="150" alt="forest">
                            <div class="card-body">
                                <h5 class="card-title text-center">@package.TrackingNumber</h5>

                                <p class="text-center">Status: @package.Status</p>
                                <div class="d-grid gap-2">
                                    <button @onclick="() => GoToDetailPage(package.TrackingNumber)" class="btn btn-outline-dark btn-block mt-2">See more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </section>
}
<style>
    .window{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
    
  
    
</style>

@code {
    private string color = "primary";
    private string color2 = "danger";
    private string color3 = "success";
    private GetAllPackagesByUserDto? packages;
    private string msg = "";
    string name = "";
    string _email = "";
    string _phoneNumber = "";

    protected override async Task OnInitializedAsync()
    {
    // Accessing the global context
        var globalContext = (await protectedSessionStorage.GetAsync<GlobalContext>("globalContext")).Value;
        if (globalContext == null || globalContext.UserContext == null)
        {
            throw new Exception("Global context is null");
        }
    // setting the values from the global context
        name = globalContext.UserContext.Name;
        _email = globalContext.UserContext.Email;
        _phoneNumber = globalContext.UserContext.Phone;
        msg = "";
        try
        {
            packages = await PackageService.GetAllPackagesByUserId(globalContext.Jwt);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async void EditInformation()
    {
        NavManager.NavigateTo("/EditInformation");
    }

    private void GoToDetailPage(string packageTrackingNumber)
    {
        NavManager.NavigateTo("/PackageInfo?package=" + packageTrackingNumber);
    }

}