@page "/AllUserPackagesOverview"
@attribute [Authorize]
@inject NavigationManager NavManager
@inject IPackageService PackageService;
@inject ProtectedSessionStorage protectedSessionStorage
@using gateway.DTO
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Client.Interfaces
@using DotnetFrontend.Components
@inherits LayoutComponentBase

<PageTitle>My profile</PageTitle>

<section class="container mt-4">
    <div class="d-flex justify-content-center">
        <h1 class="text-center display-3 text-uppercase">
            <b>Hello @name</b>
        </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body mt-2">
                    <p>
                        <b>Email:</b> @_email
                    </p>
                    <p>
                        <b>Phone number:</b> @_phoneNumber
                    </p>
                    <button class="btn btn-primary" type="submit" @onclick="EditInformation">Edit personal information</button>
                </div>
            </div>
        </div>
    </div>
</section>
@if (packages == null)
{
    <span>Loading..</span>
}

else
{
    <!-- Packages Overview Section -->
    <section class="container mt-4">
        <h2 class="mb-4">Packages that you have sent: </h2>
        <div class="row">
            @if (!packages.SendPackages.Any())
            {
                <span>You have not sent any packages yet</span>
            }
            else
            {
                foreach (var package in packages.SendPackages)
                {
                    var packageStatus = "Status: " + package.Status;
                    <CardComponentForPackages CardPicture="package.svg" CardTitle="@package.TrackingNumber" CardDescription="@packageStatus"
                                              CardButtonMethod="@(() => GoToDetailPage(package.TrackingNumber))" CardButtonText="See more">

                    </CardComponentForPackages>
                }
            }

        </div>
    </section>
    <section class="container mt-4">
        <h2 class="mb-4">Packages that you are about to receive: </h2>
        <div class="row">
            @if (!packages.SendPackages.Any())
            {
                <span>There are no packages that you are about to receive</span>
            }
            else
            {
                foreach (var package in packages.ReceivedPackages)
                {
                    var packageStatus = "Status: " + package.Status;
                    <CardComponentForPackages CardPicture="package.svg" CardTitle="@package.TrackingNumber" CardDescription="@packageStatus"
                                              CardButtonMethod="@(() => GoToDetailPage(package.TrackingNumber))" CardButtonText="See more">

                    </CardComponentForPackages>
                }
            }

        </div>
    </section>
}


@code {
    private string color = "primary";
    private string color2 = "danger";
    private string color3 = "success";
    private GetAllPackagesByUserDto? packages;
    private string msg = "";
    string name = "";
    string _email = "";
    string _phoneNumber = "";

    protected override async Task OnInitializedAsync()
    {
    // Accessing the global context
        var globalContext = (await protectedSessionStorage.GetAsync<GlobalContext>("globalContext")).Value;
        if (globalContext == null || globalContext.UserContext == null)
        {
            throw new Exception("Global context is null");
        }
    // setting the values from the global context
        name = globalContext.UserContext.Name;
        _email = globalContext.UserContext.Email;
        _phoneNumber = globalContext.UserContext.Phone;
        msg = "";
        try
        {
            packages = await PackageService.GetAllPackagesByUserId(globalContext.Jwt);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async void EditInformation()
    {
        NavManager.NavigateTo("/EditInformation");
    }


    private void GoToDetailPage(string packageTrackingNumber)
    {
        NavManager.NavigateTo("/PackageInfo?package=" + packageTrackingNumber);
    }

}